.entireCard {
    width: 100%;
    height: 100%
}

.overflow {
    overflow-y: scroll;
    height: 80vh;
}

.flexContainerStyle {
    color: gray;
    display: flex;
    justify-content: space-between;
    margin: 8vh auto 0 auto;
    line-height: 0;
    width: 85%;
    height: 90%;
}

.beginnerCourse {
    font-size: 25px;
}

.exportAsDefault {
    display: flex;
    font-size: 15px;
}

.exportAsDefaultFlex{
    display: flex;
}

.progressTrackerCard {
    color: gray;
    background-color: white;
    width: 85%;
    height: 13vh;
    border-radius: 20px;
    display: flex;
    margin: 5vh auto;
    display: flex;
    position: relative;
    top: -60vh;
}

.layoutOfItems {
    display: flex;
    width:100%;
    margin: auto;
    height: 100%;
}

.status {
    margin: auto;
    display: flex;
    justify-content: space-between
}

.user {
    margin: auto;
    display: flex;
    justify-content: flex-start;
}

.projectsCompleted {
    margin: auto;
    font-size: 12px;
    display: flex;
    justify-content: flex-start;
}

.progressButton {
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.progressButtonIndividual {
    border-radius: 50%;
    width: 2vw;
    height: 4vh;
    background-color: white;
    border: 2px solid;
    border-color: #e7e7e7;
    color: gray;
    font-weight: bold;
    align-items: center;
    margin: 0 10px;
    display: flex;
    justify-content: center;
}

@media all and (max-width: 1260px) {
    .progressButtonIndividual {
        font-size: 8px
    }
}

@media all and (max-width: 1050px) {
    .progressButtonIndividual {
        margin: 0 4px;
        width: 2vw;
        height: 3vh;
    }
}

@media all and (max-width: 900px) {
    .progressButtonIndividual {
        font-size: 6px
    }
    .beginnerCourse {
        font-size: 17px;
    }
    .exportAsDefault {
        font-size: 11px;
    }
}

@media all and (max-width: 410px) {
    .progressButtonIndividual {
        margin: 0 0px;
        width: 2vw;
        height: 3vh;
    
    }
    .beginnerCourse {
        font-size: 10px;
    }
    .exportAsDefault {
        font-size: 7px;
    }
}


