.wholePage {
    color: white; 
    font-weight: bold;
    height: 100vh;
}

.tab {
    width: 7vw;
    background-color: #00b9ff;
    padding: 4vh 0;
}

.tab-active {
    width: 14vw;
}

.card {
    display: inline-block;
    width: 93vw;
}


.cardIndividual {
    display: none;
    background-color: #97e7ff
}

.innerCard {
    height: 90%;
    width: 95%;
    background-color: #d7f3fd;
    border-radius: 30px;
}

.active innerCard {
    width: 85vw;
    display: flex;
}

.tabIndividual {
    display: flex;
    height: 3vw;
    align-items: center;
    font-size: 12px;
}


.active {
    height: 91.5vh;
    background-color: #97e7ff;
    display: block;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
} /*here*/

.highlight {
    background-color: #97e7ff;
    color: gray;
}

.button {
    width: 75vw;
    height: 3vh;
    display: flex;
    justify-content: flex-end;
    align-items: flex-start;
}

.img {
    margin: auto; 
    display: flex; 
    justify-content: center;
    width: 80px;
    height: 80px;
}

.leftArrowIcon {
    display: flex; 
    justify-content: flex-end; 
    position: relative; 
    top: '2vh';
}

.rightArrowIcon {
    display: flex; 
    justify-content: flex-end; 
    position: relative; 
    top: '20vh';
}

.bottomIconGroup {
    position: relative;
}


@media all and (max-width: 1080px) {
    .img {
        width: 50px;
        height: 50px;
    }
}

@media all and (max-width: 800px) {
    .img {
        width: 35px;
        height: 35px;  
    }
}

