.layoutButton {
    width: 80vw;
    display: flex;
    justify-content: flex-end;
    align-items: flex-start;
}

.buttonIndividual {
    border-radius: 5px;
    background-color: blue;
    border: none;
    color: white;
    text-align: center;
    text-decoration: none;
    font-size: 15px;
    padding: 0 10px; 
    position: relative;
    top: -6px;
}

.takeScreenshot {
    background-color: #d98d00;
    right: 20px;
}

.helpCenter {
    background-color: #ff008a;
    right: 10px;
}

.moreProjects {
    background-color: #00b9ff
}

@media all and (max-width: 440px) {
    .takeScreenshot {
        font-size: 10px;
    }
    .helpCenter {
        font-size: 10px;
    }
    .moreProjects {
        font-size: 10px;
    }
}