.headerProject {
    width: 100vw;
    background-color: #00b9ff;
    display: flex;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 14px;
    font-weight: bold;
}

.logo {
    color: white;
    flex: 33%;
    display: flex;
    justify-content: center;
}

.buttons {
    display: flex;
    justify-content: space-around;
    align-items: flex-end;
    flex: 33%;
    color: white;
}

.avatar {
    display: flex;
    justify-content: center;
    flex: 33%;
    width: 30px;
    height: 12px;
    color: white;
}

.left {
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: gray;
}

.underline {
    border-bottom: 1px solid gray;
}

.flagNzProjects {
    position: relative;
    top: 8px;
    left: 75px;
}

.flagMaoriProjects {
    position: relative;
    top: 8px;
    left: 80px;

}

.lang {
    font-size: 10px;
    display: flex;
    position: relative;
    right: -65px;
    
}

.teacherName {
    position:relative;
    top: 13px;
    right: 90px;
    font-size: 18px;
}

.teacherProfilePic {
    width: 25px;
    height: 25px;
    position: relative;
    top: 30px;
    right: 95px;
}

.teacherDetails {
    display: flex;
}